# Install one by one cause cannot one shot install all sad
# numpy
# joblib
# jupyter
# jupyter_contrib_nbextensions
# jupyterlab
pygit2
dvc
scikit-learn
matplotlib
pandas
pytest
python-box
pyyaml
scipy
tqdm


